kind: ConfigMap
apiVersion: v1
metadata:
  name: nginx
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "app.labels.nginx" . | nindent 4 }}
data:
  {{- (tpl (.Files.Glob "nginx/*").AsConfig .) | nindent 2 }}